 .para{
   
   font-size: 20px;
} 
body{
   
    padding-left: 30px;
    
    
}
a
{
    color: black;
}
h1
{
    text-decoration: underline;

}
.div1
{
   border: solid black 2px;
height:280px;
width:643px;
left: 94.46px;
top: 89px;

}

